/* Módulo Box */
.module-box {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    transition: all 0.2s ease;
}

.module-box img {
    max-width: 80px;
    margin-bottom: 10px;
}

.module-box.selected {
    border-color: #007bff;
    background-color: #f1f8ff;
}

/* Subdomain Group con Flexbox */
.subdomain-group {
    display: flex; /* Activar flexbox */
    align-items: center; /* Alinear verticalmente en el centro */
    justify-content: flex-start; /* Alinear el grupo a la izquierda */
    max-width: 400px; /* Limitar el ancho máximo */
    margin-left: 0; /* Alinear el grupo a la izquierda */
    margin-right: auto; /* Mantener auto-margin en el lado derecho */
}

.subdomain-group .form-control {
    text-align: right; /* Mantener la alineación del texto a la derecha */
    flex-grow: 1; /* Hacer que el input ocupe el máximo espacio disponible */
}

/* Agrupación de media queries */
@media (max-width: 768px) {
    .module-box {
        width: 100%;
    }
    .subdomain-group {
        width: 100%; /* Asegurar que el grupo tome el 100% del ancho en pantallas pequeñas */
    }
	/*SETP2*/
	.step2-modules .module-box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .step2-modules .module-box img {
        max-width: 40px;
        margin-right: 10px;
    }

    .step2-modules .module-box label {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .step2-modules .module-box input[type="checkbox"] {
        margin-right: 10px;
    }

    .step2-modules .module-box span {
        white-space: nowrap;
    }
}

@media (min-width: 768px) {
    .module-box {
        width: calc(35% - 0px); /* Cuatro módulos por fila */
        display: inline-block;
        vertical-align: top;
        height: 120px; /* Mantener la altura fija */
        overflow: hidden; /* Evitar desbordamiento */
        box-sizing: border-box; /* Incluir padding y borde en el ancho total */
        margin-right: 10px; /* Espacio entre los módulos */
    }

    .module-box:nth-child(4n) {
        margin-right: 0; /* Eliminar el margen derecho en el último elemento de cada fila */
    }

    .module-box img {
        max-width: 50px; /* Mantener el tamaño del icono */
        margin-bottom: 5px; /* Reducir el margen inferior del icono */
    }

    .module-box label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        margin-top: -20px; /* Acercar el checkbox al icono */
    }

    .module-box input[type="checkbox"] {
        margin-bottom: 5px; /* Reducir el margen entre el checkbox y el icono */
    }

    .module-box span {
        white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    }
}
